<!DOCTYPE html>
<html>
	<head>
		<title>promotion</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no;" />
		<meta charset="utf-8">
		<!-- iPad/iPhone specific css below, add after your main css >
		<link rel="stylesheet" media="only screen and (max-device-width: 1024px)" href="ipad.css" type="text/css" />
		<link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="iphone.css" type="text/css" />
		-->

		<!--        media="only screen and (max-device-width: 480px)" -->
		<link rel="stylesheet"  href="/css/sencha-touch.css" type="text/css" />
		
		<script type="text/javascript" charset="utf-8" src="/js/lib/sencha-touch.js"></script>
		<script type="text/javascript" charset="utf-8" src="/js/util.js"></script>
		<script type="text/javascript" charset="utf-8" src="/js/models.js"></script>
		<script type="text/javascript" charset="utf-8" src="/js/local-stores.js"></script>
		<script type="text/javascript" charset="utf-8" src="/js/nocookie.js"></script>
		<script type="text/javascript" charset="utf-8" src="/js/hascookie.js"></script>
		<script type="text/javascript" charset="utf-8" src="/js/promotion.js"></script>
		
		
	</head>
	<body></body>
</html>
